.slider_container {
    background-color: #C6C177;
    padding: 10px; /* Adjusted padding to make the container smaller */
    width: 60%; /* Reduce the width of the container */
    height: 300px; /* Reduce the height of the container */
    margin: 2.5% auto; /* Center the container horizontally */
    border-radius: 30px; /* Adjust the radius to match the new size */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }
  
.slider_card {
    text-align: center;
    margin: 0;
    padding: 10px; /* Smaller padding for smaller card */
    background-color: transparent;
    cursor: pointer; /* Show pointer cursor on hover */
    transition: transform 0.2s; /* Smooth transition */
}
.slider_card:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}
  
.slider_img {
    height: 180px; /* Smaller height for the images */
    object-fit: cover;
    margin-bottom: 10px; /* Smaller margin */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.slideh2 {
    font-size: 1rem; /* Reduce font size */
    font-weight: bold;
    color: #333;
}
 
.slideh3{
    font-size: 0.8rem; /* Reduce font size */
    color: #555;
    margin-top: 5px;
}

  